body{
  background-color: black;
}
header{
  z-index: 1;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  opacity: .8;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.wrapper{
  margin-top:50px;
  background-color: #101010;
}
#clickme{
  
}
#logo{
  width: 100vw;
  height: 100vh;
  background-color: #101010;
}
#logoimg{
  margin: auto;
}
.athensdiv{
  margin-top: 20px;
}
#athensimg{
  width: 100%;
  height: auto;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
}
.dt{
  width: 100%
  height:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.destinations div{
  overflow:hidden;
}
.wrapper .row:last-child{
  margin-bottom: 15px;
}
.athens div a .overlay{
  max-height: 94vh;
  width: 100%;
}
.destinations div a .overlay{
  margin-top: 15px;
  width: 97%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #101010;
}
a:hover .overlay {
  opacity: .8;
}
.text{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
