header{
  z-index: 2;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  opacity: .8;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.wrapper{
  margin-top:50px;
  background-color: #101010;
}
#logo{
  background-color: #101010;
}
@media only screen and (max-width:970) {
  #logodiv,#searchbar{
    height: 50vh;
  }
}
@media (min-width:971px) and (max-width:8000px) {
  #logodiv,#searchbar{
    height: 100vh;
  }
}
#logoimg{
  margin: auto;
}
#searchbar{
  display: table;
  overflow: hidden;
}
#form1{
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}
input[type=text]{
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-siz,buttone: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin: auto;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    height: 70px;
}
.athensdiv{
  margin-top: 20px;
}
#athensimg{
  width: 100%;
  height: auto;
  max-height: 95vh;
  margin-left: auto;
  margin-right: auto;
}
.dt{
  width: 100%
  height:auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.destinations div{
  overflow:hidden;
}
.wrapper .row:last-child{
  margin-bottom: 15px;
}
.athens div a .overlay{
  max-height: 94vh;
  width: 100%;
}
.destinations div a .overlay{
  margin-top: 15px;
  width: 97%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: #101010;
}
a:hover .overlay {
  opacity: .8;
}
.text{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
